@media screen and (max-width: 767px){
    body {
        padding: 80px 20px 0px;
        height: auto;
    }

    main {
        margin: 4rem auto;
    }

    .title {
        font-size: 1.5rem;
    }

    .sub-title {
        font-size: 1.5rem;
    }

    .title-descr {
        margin: auto 13px;
        font-size: .9375rem;
    }

    article {
        display: block;
        height: auto;
    }

    .card {
        padding-left: 2.25rem;
        font-size: 0.75rem;
    }

    .card h2 {
        font-size: 1.125rem;
    }
}