@media screen and (max-width: 767px){
    body {
        padding: 80px 20px 0px;
        height: auto;
    }

    main {
        margin: 4rem auto;
    }

    .title {
        font-size: 1.5rem;
    }

    .sub-title {
        font-size: 1.5rem;
    }

    .title-descr {
        margin: auto 13px;
        font-size: .9375rem;
    }

    article {
        display: block;
        height: auto;
    }

    .card {
        padding: 1.5rem 1.75rem;
        font-size: .8125rem;
        line-height: 2;
        margin: 1.5rem .75rem;
        height: 225px;
    }

    .card h2 {
        font-size: 1.25rem;
        line-height: 1;
    }

    .card img {
        right: 2.25rem;
    }
}